body {
  background: #e8796c;
}

h1 {
  color: #0e0e5f;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  font-size: 45px;
  line-height: 100px;
  letter-spacing: 6px;
  word-spacing: 10px;
  text-align: center;
  text-transform: capitalize;
}

.container {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box1 {
  width: 300px;
  height: 400px;
  background: white;
  margin: 20px auto;
  border-radius: 20px;
}
.box {
  width: 300px;
  height: 300px;
  background: white;
  margin: 20px auto;
  border-radius: 20px;
}

div p {
  color: #515654;
  text-align: center;
}
