* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.intro {
  width: 100%;
  background-color: #f6f6f9;
}

.intro__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.intro__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.intro__title {
  /* promo-heading */

  width: 470px;
  height: 78px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  /* or 39px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
}
.intro__text {
  /* promo-text */

  width: 465px;
  height: 74px;

  /* body-text */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;
}

.intro__btn {
  /* button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;

  width: 232px;
  height: 40px;

  /* blue */
  background: #00bafc;
  border-radius: 5px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}
